<phpunit>
    <php>
        <includePath>.</includePath>
        <server name="SERVER_NAME" value=""/>
        <server name="SERVER_PORT" value="80"/>
        <server name="REQUEST_URI" value="/"/>
        <server name="REQUEST_METHOD" value="GET"/>
        <server name="QUERY_STRING" value=""/>
        <server name="REMOTE_ADDR" value="other"/>
    </php>
</phpunit>